body{
    background-color: #F8FAFC;
    font-family: 'Inter', sans-serif;
}
.section .banner{
    padding: 50px 0;
}
.section .banner .text-wrap{
    padding: 50px 0;
}
.section .banner .text-wrap h1{
    color: #253B56;
    font-size: 52px;
    font-weight: 600;
}
.section .banner .text-wrap p{
    color: #253B56;
}
.section .banner .text-wrap a{
    background-color: #3394FF;
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 11px;
    text-decoration: none;
    margin-top: 30px;
}
.section .banner .trusted h6{
    color: #253B56;
}
.section .banner .trusted .rating{
    display: flex;
    align-items: center;
}
.section .banner .trusted .rating i{
    color: #F9BD23;
    padding: 0 5px 0 10px;
    font-size: 20px;
}
.section .banner .trusted .rating span{
    color: #253B56;
}
.section .banner .img-box img{
    width: 100%;
}
.section .distance{
    background-image: url('../images/distance_bg.png');
    padding: 50px 0;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.section .distance h2{
    font-size: 32px;
    font-weight: 500;
}
.section .distance .img-box img{
    width: 100%;
    margin: 50px 0;
}
.section .distance h4{
    font-size: 32px;
}
.section .distance ul{
    margin: 0;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
}
.section .distance ul li{
    display: flex;
    list-style: none;
    align-items: center;
}
.section .distance ul li img{
    width: 50px;
}
.section .distance ul li span{
    font-size: 18px;
    padding: 0 10px;
}
.section .tour{
    padding: 50px 0;
    text-align: center;
}
.section .tour h2{
    color: #253B56;
    font-size: 35px;
}
.section .tour .panel{
    padding: 75px 150px;
    background-color: #fff;
    border-radius: 11px;
    margin: 50px 0;
}
.section .tour .panel .img-box{
    padding: 0 5px;
}
.section .tour .panel .img-box img{
    width: 100%;
}
.section .tour .panel .text-wrap {
    padding: 50px 0 0;
}
.section .tour .panel .text-wrap h4{
    font-weight: 600;
    font-size: 25px;
    color: #253B56;
    margin-bottom: 15px;
}
.section .tour .panel .text-wrap p{
    color: #253B56;
    margin: 0;
}
.section .tour .panel h4{
    margin-bottom: 30px;
    font-size: 32px;
}
.section .tour .panel .text-left{
    text-align: left;
    padding: 10px 0;
}
.section .tour .panel .text-left h5{
    color: #3394FF;
    margin-bottom: 16px;
}
.footer{
    background-color: #3394FF;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}
.footer .logo{
    width: 100px;
    margin: 0 auto;
}
.footer .logo img{
    width: 100%;
}
.footer .text-wrap{
    padding: 35px 0 0;
}
.footer .text-wrap h2{
    margin-bottom: 15px;
}
.footer .text-wrap a{
    background-color: #253B56;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 11px;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 20px;
}
@media screen and (max-width:767px){
    .section .banner{
        text-align: center;
    }
    .section .banner .trusted .rating{
        justify-content: center;
    }
    .section .banner .img-box{
        padding: 50px 0;
    }
}
@media screen and (max-width:575px){
    .section .banner .text-wrap h1{
        font-size: 40px;
    }
    .section .distance h2{
        font-size: 24px;
    }
    .section .distance ul li img{
        width: 35px;
    }
    .section .distance ul li span{
        font-size: 14px;
    }
    .section .tour .panel{
        padding: 50px 25px;
    }
    .section .tour .panel .img-box{
        padding: 0;
    }
    .section .tour .col-lg-6,.section .tour .col-lg-4{
        padding: 0 7px;
    }
    .section .tour .panel h4{
        font-size: 24px;
    }
}